@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Slab:wght@400;500;600;700&family=Roboto:ital,wght@1,300&display=swap');

.App {
  text-align: center;
  align-items: center;
}

.cardbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 250px;
}

.innerbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 10px;
/* 
  position: absolute; */
  width: 360px;
  height: 270px;

  border-radius: 5%;

  background: #F5F5DC;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cardheader {
  text-align: center;
  font-size: 20px;
}

body {
  background-color: #81F6B0;
  margin: 0;

}

.tile {
  box-sizing: border-box;
  background: #F4F5F4;
  border-radius: 5px;
  border: 0px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0,   0.25);
  width:250px; 
  max-width:250px;
  height: 200px;
  max-height: 250;
  text-align: center;
  line-height: 200px;
}

.tiles {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #81F6B0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  
}

.header {
  background-color: #60F3A2;
  border-color: #60F3A2;

  margin: 1%;

  text-align: left;
  
}

div#banner { 
  position: absolute; 
  top: 0; 
  left: 0; 
  background-color: #51E28B; 
  width: 100%;
  align-items: left;
}

div#banner-content { 
  width: 90%; 
  margin: 0 auto; 
  padding: 20px; 
  align-items: left;
  border: 0px solid #000;
  background-color: #51E28B;
  font-family: Inter;
  font-weight: bolder;
/*   font-style: Italic; */
  font-size: 2em;
}
div#main-content { 
  padding-top: 60px;
  background-color: #81F6B0;
  font-family: Inter;
}

/* This*/

div#header {
  width: 100%;
  left: 0; 
  align-items: left;
  background-color: #82F365;
  padding-left: 30px;
  font-family: Inter;
  font-weight: bold;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 0px;
}

div#main {
  width: 100%;
  left: 0; 
  align-items: left;
  background-color: #82F365;
  padding-left: 30px;
  font-family: Inter;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 24px;
  margin-bottom: 10px;
}

div#third {
  width: 75%;
  left: 0;
  align-items: left;
  border: 1px solid #000;
  background-color: #82F365;
  padding-left: 5px;
  padding-top: 10px;
  margin-left: 30px;
  padding-bottom: 10px;
  border-radius: 1px;
  margin-bottom: 10px;
}

div#fourth {
  width: 75%;
  left: 0;
  align-items: left;
  border: 3px solid #000;
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-top: 10px;
  margin-left: 30px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 1px #000000;
  font-weight: bold;
}

.block1 {
  background-color: #82F365;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.click-container {
  display: flex;
  padding: 2px;
  align-items: center;
/*   max-width: 50%; */
  justify-content: center;
}

.click-div {
  
  margin: 30px;
  display: flex;
  flex-direction: row;
  height: 80px;
  border: 1px red solid;
  padding: 5px; /* this */
  box-sizing: border-box;
  background: #F4F5F4;
  border-radius: 5px;
  border: 0px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0,   0.25);
  width: 30px; 
  height: fit-content;
  max-height: 40px;
  text-align: center;
}

.myButton{
 background-color: #ce2b9f;
 color: #000;
 font-family: Trebuchet MS;
 font-size: 18px;
 font-weight: 800;
 font-style: normal;
 text-decoration: none;
 padding: 14px 15px;
 border: 0px solid #000;
 border-radius: 10px;
 display: inline-block;
}
.myButton:hover{
 background-color: #d35aab;
}

.myButton:active{
 transform: scale(0.95);
}